<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @lesson do |f| %>
      <%= @category.name %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.fields_for :users_answers do |builder| %>
        <%= builder.object.word.content %><br>
        <% builder.object.word.word_answers.each do |word_answer| %>
          <%= word_answer.content %>
          <%= builder.radio_button :word_answer_id, word_answer.id %>
          <%= builder.hidden_field :word_id, :value => builder.object.word.id %>
        <% end %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>


