<h1>Editing words</h1>
 
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for @word do |f| %>
  <% if @word.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@word.errors.count, "error") %> prohibited
      this word from being saved:</h2>
    <ul>
    <% @word.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= label_tag :category_id %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <% i = 1 %>
  <% @word.word_answers.each do |word_answer| %>
  <p>
    <%= check_box_tag "correct" + i.to_s, word_answer.correct == 0 %>
    <%= text_field_tag "content" + i.to_s, word_answer.content %>
    <%= hidden_field_tag "answer" + i.to_s + "_id", word_answer.id %>
  </p>
  <% i = i + 1 %>
  <% end %>
    <%= f.submit "edit" %>
  <% end %>
 
<%= link_to "Back", category_path %>
  </div>
</div>