<% provide(:title, 'Create Word') %>
<h1>Create Word</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @word do |f| %>
      <%= label_tag :category_id %>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      <p>
        <%= f.label :content %>
        <%= f.text_field :content %>
      </p>

      <p>
        <%= check_box_tag :correct1, true %>
        <%= text_field_tag :content1 %>
      </p>
      
      <p>
        <%= check_box_tag :correct2, true %>
        <%= text_field_tag :content2 %>
      </p>

      <p>
        <%= check_box_tag :correct3, true %>
        <%= text_field_tag :content3 %>
      </p>

      <p>
        <%= check_box_tag :correct4, true %>
        <%= text_field_tag :content4 %>
      </p>

      <%= f.submit "create" %>
    <% end %>
  </div>
</div>